[submodule "Barcounter-release"]
	path = BarCounter-release
	url = git@github.com:alleninstitute/Barcounter-release
[submodule "BarMixer"]
	path = BarMixer
	url = git@github.com:alleninstitute/BarMixer
